.user-table {
    flex-wrap: wrap;
    row-gap: 20px;
    width: 100%;
    text-align: right;
    padding: 10px 0px;

}

.user-edit_search_input {
    display: flex;
}

.background-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #FFC5C5;
    padding: 20px;
    border-radius: 30px;
}

.user-modal_header {
    display: flex;
    justify-content: space-between;
}

#user-modal_title {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 22px;
}

.user-modal_content {
    display: flex;
    width: 100%;
    padding-bottom: 10px;
}

.user-modal_content .ant-space {
    width: 100%;
    justify-content: space-between;
}

.user-modal_content .ant-space-item input {
    background-color: #ffffff;
}

.user-modal_content .ant-space-item span {
    background-color: #ffffff;
}

.user-modal_content .ant-form-item {
    margin: 0;
}

.user-modal_role {}

.user-modal_close-btn {
    padding-bottom: 20px;
}

.user-modal_submit-btn {
    display: flex;
    justify-content: space-evenly;
}