.create-video {
    width: fit-content;
}

.create-video_title {
    font-family: cursive;
    font-size: 25px;
    background-color: #87C4FF;
    width: fit-content;
    padding: 5px 20px;
    border-radius: 20px;
}

.create-video_input_tag {
    max-width: 30vw;
}

.create-video_input_tag #basic_tagVideo {
    gap: 8px !important;
}