.edit-video {
    width: 35vw;
}

.edit-video_title {
    font-family: cursive;
    font-size: 25px;
    background-color: #64CCC5;
    width: fit-content;
    padding: 5px 20px;
    border-radius: 20px;
}

.edit-video_data {
    display: flex;
    width: 100%;
}

.edit-video_data>#input_title {
    width: 100%;
    padding-right: 10px;
}

.edit-video_data>#input_url {
    width: 100%;
    padding-right: 10px;
}

.edit-video_data>#input_content {
    width: 100%;
    padding-right: 10px;
}

#input_user {
    width: fit-content;
}